<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Config</key>
	<dict>
		<key>BaseURL</key>
		<string>https://aperp-api-dev.myres.cc/api/v1</string>
		<key>BearerToken</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI3IiwianRpIjoiMzFkYjA0NTMyMDA4MGI5NTdjMTc3NDg2OGU1ZjQ1NzM1OTA0YjVmN2RkMzU3OTM4NjIyYjk5OWVmMzA4MDY1ZDdlNTljMzcxZjAzMDdkZjYiLCJpYXQiOjE1ODM2Mjc3MDAsIm5iZiI6MTU4MzYyNzcwMCwiZXhwIjoxNjE1MTYzNzAwLCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.JDEA6UT7plcmzDEbEIZsD-9lE1oD1LwFFN3q_Q8UzM5UTCCjv4Z16b0G2b7KTFgAsbdW6xhYQjY1EL1c8aG6yIWDT6GmiCb7k0CtwZDcGjCZQuURwaG8ec3-goPe5SVUjpAcnwYBHlcrSV8NvtjV3OpwiHGTCtUWMLNfdK7l_2Ml5cQqcUbIF4_vK8Ljr25rmeOFLxtcCv6zEw3pHW6YNAyL9yXisksOTXkN_69XEnrJDcCJGAJkj9_0Ozjzk4xBORfJoBgg6wckGFhRUz3iAMKCkTwH1QI3ltEprm7I5_O8R1Gn9SMv9wHU3l1ULIP0f9LBTq7Mu-cgxmbHSbnkZUIwFbwzR5oRfrGNZ6tdNYhN9VWKWZhc7TB77LrySHKu4VS53ZHkkPfHPYHHBzfDvcftXNyy5ejNAdu_DjhdMNJUeleY8-sYCRArSRtFHwf7Wjsx4cB_ITA5CNf2aiwHR1v-fix84M45aYIJ7Rw1N1yVOkzwEUCdI_LeGgXyU1VG1EoCUGOmjoFuZTANldi6L6cJkvAT5GKNUmRIxWN3ytQLM8u_AJPcB_g95plyexJcp6gishow78pjRVZGWCRaKWsoBCXpNew1T8nOyomBAJCdqlQM42zB1BBIDTUiJRUyXNDfEAgEShAyQke-3gEqQ3frOQbyGs0396SUB7ipCh0</string>
		<key>ClientSecret</key>
		<string>7NDniuscI4542dXzaUiCTN79iIuuMNiQ0wcItmxa</string>
		<key>ClientID</key>
		<string>7</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
